<div>
  <mat-card>
    <app-widget-area></app-widget-area>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="20px" class="stats-cards">

  <mat-card fxFlex="25%">
    <app-widget-card label="Users" total="10k" percentage="40"></app-widget-card>
  </mat-card>

  <mat-card fxFlex="25%">
    <app-widget-card label="Android" total="4k" percentage="50"></app-widget-card>
  </mat-card>

  <mat-card fxFlex="25%">
    <app-widget-card label="iOS" total="3k" percentage="60"></app-widget-card>
  </mat-card>

  <mat-card fxFlex="25%">
    <app-widget-card label="Web" total="2k" percentage="80"></app-widget-card>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="60">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
  <div fxFlex="40">
    <mat-card>
      <app-widget-pie></app-widget-pie>
    </mat-card>
  </div>
</div>

<br>
<br>
